# --- 改 Unix(LF) 换行符 ---
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.py text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.css text eol=lf
*.conf text eol=lf
*.ini text eol=lf
*.bak text eol=lf
*.back text eol=lf
.gitattributes text eol=lf
AdGuardHome text eol=lf
singbox text eol=lf

# --- 二进制文件不改换行 ---
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.tar binary
*.gz binary
*.7z binary
*.exe binary
*.so binary
*.dll binary
*.srs binary
*.pdf binary
*.jar binary
*.dat binary
sing-box* binary
*.12-r36 binary