name: Update srs daily

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 16 * * *"
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ALL }}

      - name: Mkdir
        run: |
          mkdir -p temp srs srs/json srs/json/common srs/json/source srs/json/subset

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: '**/requirements.txt'

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y jq  libre2-dev

      - name: Install sing-box
        run: |
          curl -fsSL https://sing-box.app/install.sh | sh

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r py/requirements.txt

      - name: Run merge script
        run: bash srs/merge-srs.sh

      - name: Commit and push if changed
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update srs daily"
          file_pattern: "srs/*/*.json srs/*.srs"
